
.img-light{
    background-image: url('../src/2.png');
    background-size: contain;
 
}
.img-dark{
    background-image: url('../src/1.png');
    background-size: contain;
    
}


.navbar {
    background-color: transparent;
    font-family: 'Merriweather', serif !important;
    background-color: rgb(218 229 243);
    /* mix-blend-mode: color-dodge; */
}
.textcolor-light{
color: rgb(0, 0, 0) !important;
}
.textcolor-dark{
    color:rgb(255, 255, 255) !important
}

.nav-item:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}


.black {
    color: rgb(33, 0, 0) !important;
    font-size: large;
}

.light {
    background-color: rgb(218 229 243) !important;
    color: black !important;
}

.dark {
    background-color: rgb(54 57 64) !important;
    color: rgb(255, 255, 255) !important;

}

.btn-light {
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
}

.btn-dark {
    background-color: rgb(212, 214, 224) !important;
    color: rgb(0, 0, 0) !important;

}
.btn:hover{
    box-shadow: 5px 5px 5px 0 black;
}
.card{
    border: 2px solid black;
}